@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Assets/Main/styles/contact_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Main/styles/contact_responsive.css">
</head>
<div class="container contact_container">
    <div style="margin-top: 213px">
        <h1>@ViewData["Title"]</h1>
        <p>
            Please check your email to reset your password.
        </p>
        
    </div>
</div>
