<head>
	<link rel="stylesheet" type="text/css" href="~/Assets/Main/styles/contact_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Main/styles/contact_responsive.css">
</head>
<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>About</a></li>
                </ul>
            </div>

        </div>
    </div>
    
    <div class="row">
        <div class="col p-0">
            <img class="img-fluid" src="https://livedemo00.template-help.com/wt_57578/images/page-2_img01.jpg" alt="">
        </div>
        <div class="col p-0">
            <img class="img-fluid" src="	https://livedemo00.template-help.com/wt_57578/images/page-1_img11.jpg" alt="">
        </div>
        <div class="col p-0">
            <img class="img-fluid" src="	https://livedemo00.template-help.com/wt_57578/images/page-2_img03.jpg" alt="">
        </div>
        
    </div>
    <div class="production mt-5">
        <h2 class="display-3">PRODUCTION</h2>
        <h3 class="display-5">A DRIVING SPIRIT OF A FASHION LINE</h3>
        <p style="font-weight: lighter">Welcome to the world of fashion! With great pleasure we are offering you our goods, and we are sure that only our choice of garments will suit you best. Our product is universal because it suits different customers with different demands. Our goods were made up by best experts with the help of most advanced technologies, and it gives us the right to consider these products to be premium ones.</p>
        <p style="font-weight: lighter">We assure you, it is really important, it shows that our goods have such capacity as flexibility. And it is good for you because, as we all know, people change their claims with the course of time, and our goods will be up-to-date for a long time. The main reason for buying our clothes is the unique combination of fair price, extraordinary style and perfect quality. Here you can find garments of all sizes, colors, styles and fabrics.</p>
    </div>
    
    <div class="production mt-5">
        <h2 class="display-3">A DRIVING SPIRIT</h2>
        <h3 class="display-5">OF A FASHION LINE</h3>
        <p style="font-weight: lighter">It will suit you best of all. Because we all live in the time of total consuming of uncountable goods and services, and this has become the main reason for the rapid growth of the so-called culture of consumption in our society. So, these circumstances forced all leading successful companies to explore the needs and wishes of different groups of potential clients very deeply. With great pleasure we are offering you our goods, and we are sure that only our choice of garments will suit you best. Fast and enthusiastic, our company is the leader in creating modern trends and must-have styles. Over the last 10 years we have built a strong bond with fashion insiders. Our products are uniquely curated to extend and elevate your shopping experience. Inventive, interactive and inch-perfect to take you all the way. If you have a great sense of style and want to keep up with the latest fashion, you can check our new collections in simple and traditional style. On-trend clothes available in a variety of colors and prints will exceed any expectations.</p>
        
    </div>
    
    <div class="row">
        <div style="max-height: 480px; overflow: hidden" class="col p-0">
            <img class="img-fluid" src="https://livedemo00.template-help.com/wt_57578/images/page-1_img12_original.jpg" alt="">
        </div>
        <div class="col p-0">
            <img class="img-fluid" src="https://livedemo00.template-help.com/wt_57578/images/page-1_img13.jpg" alt="">
        </div>
    </div>
    
    
</div>