<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="Admin" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">@ViewData["Title"] - Dashboard</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Product-Main</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manage Product:</h6>
                        <a class="collapse-item" asp-area="Product" asp-controller="Home" asp-action="Index">Products</a>
                        <a class="collapse-item" asp-area="ProductCategories" asp-controller="Home" asp-action="Index">Category</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        <a class="collapse-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        <a class="collapse-item" asp-area="Identity" asp-page="/Account/ForgotPassword">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" asp-area="" asp-controller="Home" asp-action="Index">Home Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Categories -->
            <li class="nav-item">
                <a class="nav-link" asp-area="Category" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-list"></i>
                    <span>Categories</span></a>
            </li>
            
            
            <!-- Nav Item - Users -->
            <li class="nav-item">
                <a class="nav-link" asp-area="User" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Users</span></a>
            </li>
            
            <!-- Nav Item - Roles -->
            <li class="nav-item">
                <a class="nav-link" asp-area="Role" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Roles</span></a>
            </li>
            
            

            <!-- Nav Item - Contacts -->
            <li class="nav-item">
                <a class="nav-link" asp-area="Contact" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-envelope"></i>
                    <span>Contacts</span></a>
            </li>
            
            <!-- Nav Item - News -->
            <li class="nav-item">
                <a class="nav-link" asp-area="News" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-pen"></i>
                    <span>News</span></a>
            </li>
            
            <!-- Nav Item - Posts -->
            <li class="nav-item">
                <a class="nav-link" asp-area="Posts" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-newspaper"></i>
                    <span>Posts</span></a>
            </li>
            
            
            
            

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>