@model NetMVC.Models.Contact

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
              <link rel="stylesheet" href="~/Assets/Contact/fonts/icomoon/style.css">
              <!-- Bootstrap CSS -->
              <link rel="stylesheet" href="~/Assets/Contact/css/bootstrap.min.css">
              
              <!-- Style -->
              <link rel="stylesheet" href="~/Assets/Contact/css/style.css">
</head>
<body>


  <div class="content">
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          

          <div class="row justify-content-center">
            <div class="col-md-6">
              
              <h3 class="heading mb-4">Let's talk about everything!</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas debitis, fugit natus?</p>

              <p><img src="~/Assets/Contact/images/undraw-contact.svg" alt="Image" class="img-fluid"></p>


            </div>
            <div class="col-md-6">
              
              <form class="mb-5" method="post" id="contactForm" asp-action="Create">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" asp-for="UserName" id="name" placeholder="Your name">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" asp-for="Email" id="email" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" asp-for="PhoneNumber" id="subject" placeholder="PhoneNumber">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control" asp-for="Message" id="message" cols="30" rows="7" placeholder="Write your message"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-12 form-group">
                    <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
    
    

    <script src="~/Assets/Contact/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/Contact/js/popper.min.js"></script>
    <script src="~/Assets/Contact/js/bootstrap.min.js"></script>

  </body>